h1{
		color: red;
	}
p{
	font-size: 20px;color: #FF6145;
	}
body{
	background-color: pink; font-family: Google Sans;
	}
/*Add styling to navigation bar*/
/*This code must be added to your style.css file*/
a{
	color: purple;
}
 
.nav {

    background-color: pink;

    padding: 10px;

}
 
.nav a {

    color: #FF6145;

    margin-right: 15px;

    text-decoration: none;

}
 
.nav a:hover {

    text-decoration: underline;

}
 